.playlist-title {
  font-size: 1.55rem;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.playlist-title:focus {
  outline: none;
}
.save-button {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: Transparent;
  border: 2px solid orange;
  border-radius: 1.5rem;
  color: orange;
  font-size: 1.5rem;
  transition: all 0.1s linear;
}
.save-button:hover {
  cursor: pointer;
}
.save-button:active {
  transition: all 0.1s linear;
  transform: scale(0.9);
}
